<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
            
    <!-- Delegate security configuration to another xml file - by using the
        classpath prefix, we can override the confguration for testing vs production -->
    <import resource="classpath:/config/security.xml" />
</beans>